:root{
    --cor1:#ffffff;
    --cor2:#000000;
}

*{
    color:var(--FontColor);
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background:var(--bg);
}

ul {
    font-family: Helvetica;
}

li {
    list-style: none;
    padding-bottom: 5px;
}
    
#msg {
    font-family: monospace;
}

.custom-checkbox input:checked + label{
    text-decoration: line-through;
}

.dark-theme{
    --bg: var(--cor2);
    --FontColor:var(--cor1);
}

.light-theme{
    --bg: var(--cor1);
    --FontColor:var(--cor2);
}

.btn{
    position: absolute;
    top: 20px;
    left: 400px;
    border-radius: 10%;
    border:none;    
}

.btn:hover{
    cursor: pointer;
}
        
.btn:focus{outline-style: none;}

#icone{
    color:#fae900;
}
