:root{
    --green:#4bff4b;
    --white:#ffffff;
    --black:#000000;
}

*{
    color:var(--FontColor);
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background:var(--bg);
}

ul {
    font-family: Helvetica;
}

li {
    list-style: none;
    padding-bottom: 5px;
}
    
#msg {
    font-family: monospace;
}

.custom-checkbox input:checked + label{
    text-decoration: line-through;
}
     
.light-theme{
    --bg: var(--green);
    --FontColor:var(--black);
}

.dark-theme{
    --bg: var(--black);
    --FontColor:var(--green);
}

.btn{
    position: absolute;
    top: 20px;
    left: 400px;
    border-radius: 10%;
    border:none;    
}

.btn:hover{
    cursor: pointer;
}
        
.btn:focus{outline-style: none;}

#icone{
    color: #0400fb;
}